albumentations==1.0.3
certifi==2022.6.15
cloudpickle==2.1.0
cycler==0.11.0
cytoolz==0.11.2
dask==2022.6.0
fonttools==4.33.3
fsspec==2022.5.0
imagecodecs==2022.2.22
imageio==2.19.3
imgaug==0.4.0
imutils==0.5.4
kiwisolver==1.4.3
locket==1.0.0
matplotlib==3.5.2
munkres==1.1.4
networkx==2.8.4
numpy==1.22.4
opencv-python==4.5.5.64
packaging==21.3
partd==1.2.0
Pillow==9.1.1
pip==22.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.3.0
PyYAML==6.0
scikit-image==0.19.3
scipy==1.8.1
setuptools==62.3.2
Shapely==1.8.2
six==1.16.0
tifffile==2022.5.4
toolz==0.11.2
unicodedata2==14.0.0
wheel==0.37.1
